@mixin after_shape {
    &:before {
        content: "";
        position: absolute;
        right: 282px;
        top: -23px;
        width: 780px;
        height: 23px;
        background: $main_color;  
    }
    &:after {
        content: "";
        position: absolute;
        height: 23px;
        width: 282px;
        background: $other_color;
        right: 0;
        top: -23px;
    }
}

@mixin before_shape {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 312px;
        height: 23px;
        background: $other_color; 
        z-index: 10; 
    }
    &:after {
        content: "";
        position: absolute;
        height: 23px;
        width: 550px;
        background: $main_color;
        left: 312px;
        bottom: 0;
    }
}

@mixin shape {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 752px;
        height: 23px;
        background: $main_color;  
    }
    &:after {
        content: "";
        position: absolute;
        height: 23px;
        width: 270px;
        background: $other_color;
        left: 752px;
        bottom: 0;
    }
}
  
@mixin befor_rectangle {
    &:before {
        content: "";
        position: absolute;
        width: 103px;
        height: 116px;
        background-color: $main_color;
        border-radius: 50% 0 0 0;
        top: 15%;
        left: 0;
        transform: translateX(-50%);
    }
}

@mixin before_circle {
    &:before {
        content: "";
        position: absolute;
        width: 74px;
        height: 74px;
        background-color: $other_color;
        border-radius: 100%;
        top: 90%;
        left: 15%;
    }
}
