$main_color:  #FFD050;
$hover_color:  #EDC14A;
$hover_text:  #FBF6EA;
$other_color:  #592EA9;
$text_color:  #232536;
$accent_color: #ffffff;
$accent_color_01: rgba(255, 255, 255, 0.1);
$accent_color_06: rgba(255, 255, 255, 0.6);
$accent_color_05: rgba(255, 255, 255, 0.05);
$background_color: #F4F0F8;
$border_color: #6D6E76;
$border_color_01: rgba(109, 110, 118, 0.1);
$border_color_05: rgba(109, 110, 118, 0.50);
$border_button_color: #4C4C4C;
$tab_color: #C1C1C3;
$sen_bold: "Sen-Bold";
$inter_regular: "Inter-Regular";
$inter_medium: "Inter-Medium";
$inter_semi_Bold: "Inter-SemiBold";
$Inter_Black: "Inter-Black";
