@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about-us {
        &__wrapper {
            &:before {
                width: 230px;
            }
            &:after {
                width: 540px;
                left: 230px;
            }
        }
    }
    .creating {
        &__block {
            width: 400px;
        }
        &__title {
            width: 440px;
        }
    }
    .team {
        &__content {
            gap: 100px;
        }
        &__img {
            &:before {
                width: 95px;
                height: 110px;
            }
            img {
                width: 500px;
            }
        }
    }
    .blog {
        &__img {
            &:before {
                width: 70px;
                height: 70px;
                top: 346px;
                left: 60px;
            }
            img {
                width: 500px;
            }
        }
    }
    .authors {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 700px;
    }
    .about-us {
        padding-top: 80px;
        &__descr {
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 40px;
            margin-left: 0;
        }
        &__heading {
            padding: 0;
            max-width: 100%;
        }
        &__text {
            max-width: 100%;
        }
        &__img {
            img {
                height: 350px;
            }
        }
        &__wrapper {
            left: 0;
            gap: 25px;
            width: 510px;
            height: 125px;
            padding: 25px 30px;
            &:before {
                height: 20px;
                width: 200px;
                left: 0;
            }
            &:after {
                height: 20px;
                width: 420px;
                left: 200px;
            }
        }
    }
    .creating {
        &__content {
            padding-top: 90px;
            flex-wrap: wrap;
            gap: 35px;
        }
        &__title {
            margin-top: 20px;
        }
    }
    .team {
        padding-top: 90px;
        &__content {
            flex-wrap: wrap;
            gap: 30px;
        }
        &__block {
            display: block;
            margin: 0 auto;
        }
    }
    .blog {
        padding-top: 90px;
        &__content {
            flex-wrap: wrap;
            gap: 30px;
        }
        &__block-img {
            display: block;
            margin: 0 auto;
            order: 2;
        }
    }
    .authors {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 420px;
    }
    .about-us {
        &__wrapper {
            bottom: 220px;
            gap: 20px;
            width: 370px;
            height: 130px;
            padding: 15px 25px;
            &:before {
                height: 15px;
                width: 140px;
                top: 335px;
            }
            &:after {
                height: 15px;
                width: 240px;
                left: 140px;
                top: 335px;
            }
        }
    }
    .creating {
        &__content {
            padding: 80px 0 40px 0;
        }
        &__title {
            width: 100%;
        }
    }
    .team {
        padding-top: 80px;
        &__img {
            &:before {
                width: 60px;
                height: 75px;
                // right: 280px;
                // top: 28px;
            }
            img {
                width: 300px;
            }
        }
    }
    .blog {
        padding-top: 80px;
        &__img {
            &:before {
                width: 45px;
                height: 45px;
                top: 205px;
                left: 35px;
            }
            img {
                width: 300px;
            }
        }
    }
    .authors {
        &__list {
            gap: 20px;
        } 
    }
}

@media (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 0 15px;
    }
    .about-us {
        padding-top: 130px;
        &__subtitle {
            margin-bottom: 20px;
        }
        &__wrapper {
            bottom: 240px;
            left: 15px;
            width: 350px;
            height: 110px;
            &:before {
                height: 12px;
                width: 100px;
                top: 338px;
            }
            &:after {
                height: 12px;
                width: 200px;
                left: 100px;
                top: 338px
            }
        } 
    }
    .creating {
        &__block {
            width: 280px;
        }
    }
    .team {
        &__img {
            &:before {
                width: 45px;
                height: 55px;
                // right: 230px;
            }
            img {
                width: 250px;
            }
        }
    }
    .blog {
        &__img {
            &:before {
                width: 30px;
                height: 30px;
                top: 175px;
                left: 31px;
            }
            img {
                width: 250px;
            }
        }
    }
    .authors {
        &__list {
            grid-template-columns: 1fr;
        }
    }
}