* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SenBold";
}
.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    &_author {
        position: relative;
        max-width: 1020px;
        margin: 0 auto;
    }
    &_contacts, &_policy {
        position: relative;
        max-width: 768px;
        margin: 0 auto;
    }
}
.header {
    // position: relative;
    background: #232536;
    &__menu {
        display: flex;
        // justify-content: space-between;
        
    }
    &__logo {
        // margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // gap: 25px;
        width: 100%;
        height: 80px;
        a:nth-child(4) {
            margin-right: 32px;
        }
    }
    &__link{
        text-decoration: none;
        color: $accent_color;
        font-family: $inter_regular;
        font-size: 16px;
        line-height: 28px;
        margin-right: 25px;
    }
    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
// nav {
//     position: relative;
//     width: 100%;
//     height: 80px; 
//     background: #232536;
// }
.button {
    display: block;
    width: max-content;
    height: 56px;
    background: $main_color;
    padding: 16px 48px;
    color: $text_color;
    font-family: $sen_bold;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        background: $hover_color;
    }
    &__outline {
        background: $accent_color;
    }
}
.title {
    font-family: $sen_bold;
    color: $text_color;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    &-h1 {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
        &_light {
            color: $accent_color;
        }
    }
    &-h2 {
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -2px;
    }
    &-h3 {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        &_light {
            color: $accent_color;
        }
    }
    &-h4 {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
    }
    &-h5 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
        &_light {
            font-size: 20px;
            line-height: 32px;
            color: $accent_color;
            letter-spacing: 0;
        }
    }
    &-h6 {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0;
    }
}
.text {
    font-family: $inter_regular;
    font-size: 16px;
    line-height: 28px;
    color: $text_color;
    p {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &_light {
        color: $accent_color;
    }
    &_medium {
        font-family: $inter_semi_Bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &_small {
        font-family: $inter_medium;
        font-size: 14px;
        line-height: 20px;
        &-light {
            color: $accent_color_06;
        }
       
    }
}
.carousel {
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev {
        position: absolute;
        top: 75%;
        transform: translateY(-50%);
        right: 185px;
        border: none;
        cursor: pointer;
        img {
            width: 62px;
            height: 62px;  
        }
    }
    .slick-next {
        position: absolute;
        top: 75%;
        transform: translateY(-50%);
        right: 110px;
        left: auto;
        border: none;
        cursor: pointer;
        img {
            width: 62px;
            height: 62px;  
        }
        
    }
}



.join {
    padding-top: 130px;
    &__title {
        text-align: center;
        margin-bottom: 16px;
    }
    &__text {
        text-align: center;
        margin-bottom: 32px;
    }
    &__button {
        display: block;
        margin: 0 auto;
    }
}
.footer {
    margin-top: 130px;
    background-color: $text_color;
    padding: 60px 80px;
    &__menu {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        justify-content: flex-start;
    }
    &__block {
        display: flex;
        gap: 25px;

    }
    &__link{
        text-decoration: none;
        color: $accent_color;
        font-family: $inter_regular;
        font-size: 16px;
        line-height: 28px;
    }
    &__subscribe {
        margin-top: 57px;
        background: $accent_color_05;
        display: flex;
        justify-content: space-between;
        gap: 64px;
        padding: 80px 64px;
    }
    &__title {
        max-width: 562px;
    }
    &__form {
        display: flex;
        gap: 24px;
    }
    &__input {
        padding: 14px 25px;
        background: transparent;
        font-size: 16px;
        line-height: 28px;
        color: $border_color;
        border: 1px solid $border_button_color;
        width: 323px;
        height: 56px;
        font-family: "Inter-Regular";
    }
    &__button {
        width: 180px;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background: $hover_color;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__sociale {
        display: flex;
        gap: 26px;
    }
    &__icon {
        .img-svg path {
            fill: $border_color;
            width: 100%;
            height: 100%;
            max-width: 16px;
            max-height: 16px;
        }
    }
}
