@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        font-size: 34px;
        line-height: 46px;
        &-h1 {
            font-size: 50px;
            line-height: 62px;
        }
        &-h2 {
            font-size: 46px;
            line-height: 60px;
        }
        &-h3 {
            font-size: 34px;
            line-height: 46px;
        }
        &-h4 {
            font-size: 26px;
            line-height: 38px;
        }
        &-h5 {
            font-size: 20px;
            line-height: 30px;
        }
        &-h6 {
            font-size: 18px;
            line-height: 32px;
        }
    }
    .posts {
        &__wrapper {
            display: grid;
            grid-template-columns: 562px 372px;
            gap: 25px;
        }
        &__item {
            padding: 28px 28px 21px 28px;
        }
    }
    .about {
        &__block {
            gap: 80px;
            &:before {
                right: 220px;
                width: 530px;
            }
            &:after {
                width: 220px;
            }
        }
        &__link {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0;
        }
    }
    .start {
        &__descr {
            bottom: 0;
            width: 640px;
            height: 580px;
            padding: 60px 60px;
        }
        &__img {
            img {
                width: 690px;
            }
        }
    }
    .authors {
        &__logo {
            gap: 50px;
        }
        &__links {
            gap: 40px;
        }
        &__img {
            .img-svg {
                width: 120px;
            }
        }
    }
    .reviews {
        &__descr {
            grid-template-columns: 410px 550px;
            &:before {
                left: 410px;
                top: 50px;
            }
        }
        &__item {
            padding: 60px 55px;
        }
    }
    .carousel {
        &__inner {
            width: 550px;
            .slick-prev {
                bottom: 75px;
                right: 135px;
            }
            .slick-next {
                bottom: 75px;
                right: 65px;
            }
        }
    }
    .footer {
        &__subscribe {
            gap: 40px;
            padding: 70px 50px;
            flex-wrap: wrap;
        }
    }
    .promo-blog {
        &__wrapper {
            gap: 50px;
        }
        &__img {
            max-width: 450px;
        }
    }
    .posts-blog {
        &__img {
            width: 420px;
            height: 300px;
        }
    }
    .read {
        &__list {
            gap: 22px;
        }
        &__img {
            width: 305px;
            height: auto;
        }
    }
    .about-us {
        &__container {
            &:before {
                width: 250px;
            }
            &:after {
                width: 490px;
                left: 360px;
            }
        }
    }
    .creating {
        &__block {
            width: 400px;
        }
        &__title {
            width: 440px;
        }
    }
    .team {
        &__content {
            gap: 100px;
        }
        &__img {
            &:before {
                width: 95px;
                height: 110px;
                right: 460px;
                top: 60px;
            }
            img {
                width: 500px;
            }
        }
    }
    .blog {
        &__img {
            &:before {
                width: 70px;
                height: 70px;
                top: 346px;
                left: 60px;
            }
            img {
                width: 500px;
            }
        }
    }
    .authors {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .category {
        &__wrapper {
            grid-template-columns: 565px 295px;
            gap: 100px;
        }
        &__item {
            flex-direction: column;
        }
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 700px;
    }
    .title {
        font-size: 30px;
        line-height: 42px;
        &-h1 {
            &_light {
                font-size: 48px;
                line-height: 60px;
            }
        }
        &-h2 {
            font-size: 40px;
            line-height: 50px;
        }
        &-h3 {
            font-size: 30px;
            line-height: 42px;
        }
        &-h5 {
            font-size: 18px;
            line-height: 28px;
        }
        &-h6 {
            font-size: 18px;
            line-height: 32px;
        }
    }
    .header {
        &__logo {
            width: 130px;
        }
    }
    .promo {
        min-height: 620px;
        &:before {
            height: 620px;
        }
        &__subtitle {
            padding-top: 90px;
        }
    }
    .posts {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 398px 290px;
            gap: 10px;
        }
        &__feature, &__info {
            margin-top: 20px;
        }
        &__item {
            padding: 25px 25px 18px 25px;
        }
    }
    .about {
        padding-top: 90px;
        &__block {
            padding: 80px 75px;
            grid-template-columns: 1fr;
            &:before {
                height: 20px;
                width: 380px;
                top: -20px;
                right: 160px; 
            }
            &:after {
                width: 160px;
                height: 20px;
                top: -20px;
            }
        }
        &__subtitle {
            margin-bottom: 20px;
        }
    }
    .catagory {
        padding-top: 90px;
        &__title {
            margin-bottom: 40px;
        }
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
    .start {
        padding-top: 90px;
        &__img {
            img {
                width: 495px;
            }
        }
        &__descr {
            width: 460px;
            height: 585px;
            padding: 50px 50px;
        }
        &__subtitle {
            margin-bottom: 20px;
        }
    }
    .authors {
        padding-top: 90px;
        &__list {
            grid-template-columns: 1fr 1fr;
        }
        &__logo {
            margin-top: 80px;
            gap: 60px;
            align-items: center;
        }
        &__links {
            flex-wrap: wrap;
            gap: 20px 40px;
        }
    }
    .reviews {
        padding-top: 90px;
        &__descr {
            grid-template-columns: 1fr;
            &:before {
                height: 1px;
                width: 590px;
                left: 50px;
                top: 270px;
            }
        }
        &__wrapper {
            margin-top: 90px;
        }
    }
    .carousel {
        .slick-prev {
            bottom: 75px;
            right: 125px;
        }
        .slick-next {
            bottom: 75px;
            right: 55px;
        }
    }
    .join {
        padding-top: 90px;
    }
    .footer {
        margin-top: 90px;
        padding: 40px 0;
        &__subscribe {
            margin-top: 40px;
            padding: 50px;
            gap: 30px;
        }
        &__wrapper {
            margin-top: 40px;
        }
    }
    .promo-blog {
        &__wrapper {
            flex-direction: column;
            gap: 50px;
        }
    }
    .posts-blog {
        &__block {
            flex-direction: column;
        }
    }
    .catagory-blog {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
    .heading {
        padding-top: 90px;
        &__block-descr {
            max-width: 600px;
        }
    }
    .content {
        padding-top: 55px;
        &__block {
            padding-top: 55px;
            width: 600px;
        }
    }
    .read {
        padding-top: 90px;
        &__list {
            padding-top: 55px;
            flex-wrap: wrap;
        }
        &__img {
            width: 405px;
        }
    }
    .about-us {
        padding-top: 80px;
        &__container {
            &:before {
                height: 20px;
                width: 200px;
                left: 0;
            }
            &:after {
                height: 20px;
                width: 400px;
                left: 200px;
            }
        }
        &__descr {
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 40px;
            margin-left: 0;
        }
        &__heading {
            padding: 0;
            max-width: 100%;
        }
        &__text {
            max-width: 100%;
        }
        &__img {
            img {
                height: 350px;
            }
        }
        &__wrapper {
            left: 0;
            gap: 25px;
            width: 510px;
            height: 100px;
            padding: 20px 30px;
        }
    }
    .creating {
        &__content {
            padding-top: 90px;
            flex-wrap: wrap;
            gap: 35px;
        }
        &__title {
            margin-top: 20px;
        }
    }
    .team {
        padding-top: 90px;
        &__content {
            flex-wrap: wrap;
            gap: 30px;
        }
        &__block {
            display: block;
            margin: 0 auto;
        }
    }
    .blog {
        padding-top: 90px;
        &__content {
            flex-wrap: wrap;
            gap: 30px;
        }
        &__block-img {
            display: block;
            margin: 0 auto;
            order: 2;
        }
    }
    .category {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 345px 295px;
            gap: 60px;
        }
    }
    .container_author {
        max-width: 700px;
    }
    .promo-author {
        padding-top: 80px;
        &__container_author {
            &:before {
                width: 560px;
            }
            &:after {
                width: 140px;
                left: 560px;
            }
        }
    }
    .posts-author {
        padding-top: 80px;
        &__item {
            margin-top: 45px;
            flex-wrap: wrap;
        }
    }
    .container_contacts {
        max-width: 700px;
    }
    .contacts {
        padding-top: 90px;
        &__wrapper {
            margin-top: 55px;
            gap: 40px;
            padding: 48px 50px;
        }
    }
    .reguest-form {
        &__container {
            width: 700px;
        }
        &__form {
            input {
                width: 700px;
            }
            textarea {
                width: 700px;
            }
        }
    }
    .container_policy {
        max-width: 700px;
    }
    
}

@media (max-width: 768px) {
    .container {
        max-width: 420px;
    }
    .title {
        font-size: 30px;
        line-height: 42px;
        &-h1 {
            &_light {
                font-size: 32px;
                line-height: 36px;
            }
        }
        &-h3 {
            font-size: 28px;
            line-height: 36px;
            &_light {
                font-size: 28px;
                line-height: 36px;
            }
        }
        &-h4 {
            font-size: 24px;
            line-height: 30px;
        }
        &-h5 {
            font-size: 20px;
            line-height: 30px;
        }
        &-h6 {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .text {
        font-size: 16px;
        line-height: 24px;
        &_light {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .button {
        height: 46px;
        padding: 16px 30px;
        font-size: 14px;
        line-height: 16px;
        &__outline {
            height: 46px;
            padding: 16px 30px;
            font-size: 14px;
            line-height: 16px;
        }
    }
    .header {
        &__logo {
            display: none;
        }
        &__block {
            gap: 20px;
        }
        &__link {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .promo {
        min-height: 100vh;
        &:before {
            height: 100vh;
        }
        &__subtitle {
            padding-top: 60px;
        }
        &__text {
            margin-top: 20px;
        }
        &__button {
            margin-top: 40px;
        }
    }
    .posts {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__item {
            padding: 20px 25px 15px 25px;
        }
    }
    .about {
        padding-top: 80px;
        &__block {
            padding: 40px 55px;
            gap: 40px;
            &:before {
                height: 15px;
                width: 230px;
                right: 90px;
                top: -15px;
            }
            &:after {
                width: 90px;
                height: 15px;
                top: -15px;
            }
        }
    }
    .catagory {
        padding-top: 80px;
    }
    .start {
        padding-top: 80px;
        &__img {
            img {
                width: 350px;
            }
        }
        &__descr {
            width: 268px;
            height: 537px;
            padding: 20px;
        }
    }
    .authors {
        padding-top: 80px;
        &__title {
            margin-bottom: 25px;
        }
        &__list {
            gap: 20px;
        }
        &__logo {
            margin-top: 60px;
            gap: 40px;
        }
        &__links {
            gap: 20px 40px;
        }
        &__img {
            .img-svg {
                width: 100px;
            }
        }
    }
    .reviews {
        padding-top: 80px;
        &__descr {
            gap: 30px;
            &:before {
                width: 320px;
                top: 260px;
            }
        }
        &__item {
            padding: 30px 40px;
        }
        &__wrapper {
            margin-top: 60px;
        }
    }
    .carousel {
        &__inner {
            width: 420px;
        }
        .slick-dots {
            text-align: center;
            display: flex; // поставить кнопки в ряд
            justify-content: center; // выровнять по центру
            list-style: none; // убираем черные маркеры
        }
        .slick-dots button {
            background: $accent_color; // цвет фона
            border: none; // без рамки
            border-radius: 50%; // радиус закругления
            height: 25px; // высота точки
            width: 25px; // ширина точки
            margin: 10px; // отступы между точками
            outline: none; // убираем обводку
            font-size: 0;
            // visibility: hidden;
        }
        .slick-dots li[class="slick-active"] button {
            background: $main_color;;
        }
    }
    .join {
        padding-top: 80px;
    }
    .footer {
        margin-top: 80px;
        padding: 25px 0;
        &__logo {
            display: none;
        }
        &__block {
            gap: 20px;
        }
        &__subscribe {
            margin-top: 30px;
            padding: 30px;
            gap: 20px;
        }
        &__form {
            flex-wrap: wrap;
        }
        &__input {
            width: 100%;
            height: 46px;
        }
        &__button {
            width: 100%;
        }
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
        }
        &__sociale {
            margin-top: 30px;
        }
    }
    .posts-blog {
        padding-top: 35px;
        &__block {
            padding-top: 55px;
        }
    }
    .heading {
        padding-top: 60px;
        &__block-descr {
            margin-top: 25px;
            max-width: 350px;
        }
        &__wrapper {
            margin-top: 25px;
        }
    }
    .content {
        &__block {
            padding-top: 40px;
            width: 350px;
        }
        &__descr {
            margin-bottom: 40px;
        }
    }
    .read {
        padding-top: 60px;
        &__list {
            gap: 40px;
        }
    }
    .about-us {
        &__container {
            &:before {
                height: 15px;
                width: 125px;
            }
            &:after {
                height: 15px;
                width: 295px;
                left: 125px;
            }
        }
        &__wrapper {
            bottom: 240px;
            left: 0;
            gap: 20px;
            width: 370px;
            height: 115px;
            padding: 15px 25px;
        }
    }
    .creating {
        &__content {
            padding: 80px 0 40px 0;
        }
        &__title {
            width: 100%;
        }
    }
    .team {
        padding-top: 80px;
        &__img {
            &:before {
                width: 60px;
                height: 75px;
                // right: 280px;
                // top: 28px;
            }
            img {
                width: 300px;
            }
        }
    }
    .blog {
        padding-top: 80px;
        &__img {
            &:before {
                width: 45px;
                height: 45px;
                top: 205px;
                left: 35px;
            }
            img {
                width: 300px;
            }
        }
    }
    .category {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
    .container_author {
        max-width: 420px;
    }
    .promo-author {
        &__container_author {
            min-height: 680px;
            &:before {
                width: 290px;
                height: 15px;
            }
            &:after {
                width: 130px;
                height: 15px;
                left: 290px;
            }
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__sociale {
            gap: 25px;
        }
    }
    .posts-author {
        &__item {
            margin-top: 30px;
        }
        &__img {
            width: 320px;
            height: auto;
        }
    }
    .container_contacts {
        max-width: 420px;
    }
    .contacts {
        padding-top: 80px;
        &__wrapper {
            margin-top: 45px;
            flex-wrap: wrap;
        }
        &__item {
            width: 100%;
        }
    }
    .reguest-form {
        &__container {
            width: 420px;
        }
        &__form {
            input {
                width: 420px;
                padding: 20px;
            }
            textarea {
                width: 420px;
                padding: 20px;
            }
        }
    }
    .container_policy {
        max-width: 420px;
    }
    .descr {
        margin-top: 80px;
    }
       
}

@media (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 0 15px;
    }
    .header {
        &__logo {
            display: block;
            position: absolute;
            width: 100px;
            top: 15px;
            z-index: 1000;
            .img-svg {
              width: 100%;
              &-blog path {
                fill: $text_color;
              }
            }
        }
        &__block {
            position: fixed;
            z-index: 1000;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            padding: 20px 15px;
            background-color: $main_color;
            transition: 0.5s all;
            &_active {
              left: 0;
            }
        }
        &__link {
            width: 100%;
            text-align: center;
            padding: 20px 0;
            margin: 5px 0;
            font-family: $sen_bold;
            font-size: 20px;
            color: $text_color;
        }
        &__button {
            display: none;
        }
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        z-index: 10000000;
        span {
            display: block;
            height: 2px;
            width: 100%;
            // background-color: $accent_color;
            background-color: $text_color;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                display: none;
                }
                &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .title {
        font-size: 24px;
        line-height: 28px;
        &-h1 {
            &_light {
                font-size: 28px;
                line-height: 30px;
            }
        }
        &-h2 {
            font-size: 26px;
            line-height: 32px;
        }
        &-h3 {
            font-size: 24px;
            line-height: 28px;
            &_light {
                font-size: 24px;
                line-height: 28px;
            }
        }
        &-h4 {
            font-size: 20px;
            line-height: 26px;
        }
        &-h5 {
            font-size: 18px;
            line-height: 26px;
        }
        &-h6 {
            font-size: 16px;
            line-height: 26px;
        }
    }
    .text {
        font-size: 16px;
        line-height: 24px;
        &-light {
            font-size: 16px;
            line-height: 22px;
        }
        &_medium {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .promo {
        &__subtitle {
            padding-top: 80px;
            font-size: 14px;
            line-height: 20px;
        }
        &__title {
            margin-top: 20px;
        }
    }
    .posts {
        padding-top: 60px;
        &__future, &__info {
            margin-top: 10px;
        }
    }
    .about {
        padding-top: 70px;
        &__block {
            &:before {
                height: 12px;
                width: 180px;
                right: 85px;
                top: -12px;
            }
            &:after {
                width: 70px;
                height: 12px;
                top: -12px;
                right: 15px;
            }
        }
    }
    .catagory {
        padding-top: 60px;
        &__title {
            margin-bottom: 30px;
        }
        &__list {
            grid-template-columns: 1fr;
        }
    }
    .start {
        padding-top: 60px;
        &__img {
            img {
                width: 280px;
            }
        }
        &__descr {
            width: 240px;
            height: 620px;
        }
        &__subtitle {
            margin-bottom: 10px;
        }
    }
    .authors {
        padding-top: 80px;
        &__list {
            grid-template-columns: 1fr;
        }
        &__logo {
            flex-direction: column;
            margin-top: 40px;
            gap: 20px;
        }
        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__links {
            justify-content: center;
            gap: 15px 30px;
        }
    }
    .reviews {
        padding-top: 80px;
        &__descr {
            gap: 20px;
            &:before {
                width: 240px;
                top: 230px;
            }
        }
        &__item {
            padding: 20px;
            width: 320px;
        }
        &__subtitle {
            margin-top: 0;
        }
        &__wrapper {
            margin-top: 50px;
        }
    }
    .carousel {
        &__inner {
            width: 320px;
        }
        .slick-dots button {
            width: 20px;
            height: 20px;
            margin: 5px;
        }
    }
    .join {
        padding-top: 60px;
    }
    .footer {
        &__block {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__subscribe {
            margin-top: 20px;
            padding: 20px;
            gap: 15px;
        }
    }
    .promo-blog {
        &__wrapper {
            padding: 80px 0 40px 0;
            gap: 30px;
        }
        &__img {
            max-width: 320px;
            height: auto;
        }
    }
    .posts-blog {
        padding-top: 25px;
    }
    .posts-blog {
        &__heading {
            padding-bottom: 22px;
        }
        &__block {
            padding-top: 45px;
        }
        &__text {
            margin-top: 10px;
        }
        &__img {
            width: 320px;
            height: auto;
        }
    }
    .catagory-blog {
        &__list {
            grid-template-columns: 1fr;
            margin-top: 30px;
        }
    }
    .heading {
        padding-top: 80px;
        &__block-descr {
            margin-top: 20px;
            max-width: 300px;
        }
        &__wrapper {
            margin-top: 20px;
        }
    }
    .content {
        &__block {
            padding-top: 20px;
            width: 300px;
        }
        &__descr {
            margin-bottom: 20px;
        }
    }
    .read {
        &__img {
            width: 100%;
            height: auto;
        }
        &__list {
            padding-top: 30px;
            gap: 30px;
        }
    }
    .about-us {
        &__container {
            &:before {
                height: 12px;
                width: 105px;
                left: 15px;
            }
            &:after {
                height: 12px;
                width: 216px;
                left: 112px;
            }
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__wrapper {
            bottom: 224px;
            left: 15px;
            gap: 10px;
            width: 300px;
            height: 130px;
            padding: 10px 15px;
        } 
    }
    .creating {
        &__block {
            width: 280px;
        }
    }
    .team {
        &__img {
            &:before {
                width: 45px;
                height: 55px;
                // right: 230px;
            }
            img {
                width: 250px;
            }
        }
    }
    .blog {
        &__img {
            &:before {
                width: 30px;
                height: 30px;
                top: 175px;
                left: 31px;
            }
            img {
                width: 250px;
            }
        }
    }
    .category {
        &__tab {
            display: flex;
            width: 100%;
            height: 80px;
        }
    }
    .container_author {
        max-width: 100%;
        padding: 0 15px;
    }
    .promo-author {
        &__container_author {
            min-height: 760px;
            &:before {
                width: 230px;
                height: 12px;
                left: 15px;
            }
            &:after {
                width: 85px;
                height: 12px;
                left: 245px;
            }
        }
        &__wrapper {
            flex-direction: column;
        }
    }
    .posts-author {
        &__item {
            flex-direction: column;
        }
        &__img {
            width: 300px;
            height: auto;
        }
    }
    .container_contacts {
        max-width: 100%;
        padding: 0 15px;
    }
    .contacts {
        &__wrapper {
            padding: 40px 30px;
        }
    }
    .reguest-form {
        &__container {
            max-width: 100%;
            padding: 0 15px;
        }
        &__form {
            gap: 12px;

            input {
                max-width: 100%;
                padding: 15px;
            }
            textarea {
                max-width: 100%;
                padding: 15px;
            }
        }
    }
    .container_policy {
        max-width: 100%;
        padding: 0 15px;
    }
    .policy {
        padding: 80px 0 40px 0;
    }
}